<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://49.232.180.87:3306/ouyu_blog"/>
                <property name="username" value="ouyu1"/>
                <property name="password" value="13937354505yZy*"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="com/example/ouyu_blog/mapper/ArticleMapper.xml"/>
    </mappers>

</configuration>
